@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&family=Noto+Serif+KR:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&family=Noto+Serif+KR&display=swap');
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', serif;
}

ul,ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

 header .navbar .collapse.navbar-collapse .btn {
   transition: .5s;
   padding: 3px;
 }

 header .navbar .collapse.navbar-collapse .btn:hover {
   transform: translateY(-2px);
 }

 header .navbar .collapse.navbar-collapse .btn a {
   font-size: 15px;
   color: gray;
   padding: 3px;
   transition: .5s;
   text-decoration: none;
 }

 header .navbar .collapse.navbar-collapse .btn a:hover {
   color: #ffff;
   transition: .5s;
 }

 .featurette-heading {
   font-weight: 300;
   line-height: 1;
   letter-spacing: -.05rem;
 }

 .mr-auto {
   margin-left: auto;
   margin-right: 10px !important;
 }

 .navbar {
   font-family: 'Noto Sans KR', serif;
 }

 .navbar-nav .nav-item .nav-link {
   transition: .5s;
 }

 .navbar-nav .nav-item .nav-link:hover {
   transform: translateY(-2px);
   transition: .5s;
 }

 .navbar-nav .nav-item .nav-link + .sub-menu {
   position: absolute;
   text-align: left;
   align-items: center;
   color: rgba(255,255,255,.7);
   margin-top: 5px;
   font-size: 15px;
   line-height: 15px;
   padding: 10px;
   height: 20px;
   opacity: 0;
   background: #303a40;
   visibility: hidden;
   transition: .5s;
 }

 .navbar-nav .nav-item:hover .sub-menu {
   position: absolute;
   display: block;
   opacity: 1;
   height: 130px;
   visibility: visible;
   transition: .5s;
 }

 .navbar-nav .nav-item .nav-link + .sub-menu li {
   padding: 5px;
   margin-top: 3px;
 }

 .navbar-nav .nav-item .nav-link + .sub-menu li a {
   color: rgba(255,255,255,.7);
 }
/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}



/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}

.new_main_section {
  background-image: url('../img/new_main_img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.new_main_section {
  height: 100vh;
}

.new_main_section .col-md-5 {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  top: calc(50% - 210px);
  padding: 0 !important;
  justify-content: center;
  text-align: left;
}

.new_main_section .col-md-5 h1 {
  color: #fff;
  font-size: 84px;
}

.new_main_section .col-md-5 p {
  color: #9c9c9c;
  font-size: 42px;
}

.new_main_section .col-md-5 .btn {
  width: 30%;
  padding: 10px 0px 10px;
  border: 1px solid #fff;
  border-radius: 0;
  color: #c9c9c9;
  text-align: center;
  transition: .7s;
}

.new_main_section .col-md-5 .btn:hover {
  position: relative;
  transform: translateX(10px);
  background: #f1f1f1;
  color: #111;
}

.mr-md-3 {
  height: 500px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: rgba(255,255,255,.8);
}

.d-md-flex .mr-md-3.new_content {
  background-image: url('../img/new_content_1.jpg');

}

.d-md-flex .mr-md-3.new_content2 {
  background-image: url('../img/new_content_2.jpg');
}

.d-md-flex .mr-md-3.new_content3 {
  background-image: url('../img/new_content_3.jpg');
}

.d-md-flex .mr-md-3.new_content4 {
  background-image: url('../img/new_content_4.jpg');
}

.d-md-flex .mr-md-3.new_content5 {
  background-image: url('../img/new_content_5.jpg');
}

.d-md-flex .mr-md-3.new_content .my-3,.d-md-flex .mr-md-3.new_content2 .my-3,.d-md-flex .mr-md-3.new_content3 .my-3, .d-md-flex .mr-md-3.new_content4 .my-3,.mr-md-3.new_content5 .my-3 {
  position: relative;
  line-height: 30px;
  top: 200px;
}

footer {
  display: flex;
  margin-top: 50px;
  border-top: 1px solid #f1f1f1;
  min-height: 120px;
  justify-content: flex-start;
  align-items: center;
}
footer.container {
  margin-left: 110px;
}
.overflow-hidden { overflow: hidden; }

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}
